/*Referenziert auf alle h1-Elemente*/
h1 {
    color: darkblue;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Referenziert auf Klassen (class="")*/
.big-label {
    font-size: 32px;
    text-shadow: grey;
}

.small-label {
    /*Referenziert auf Basis-Fontgröße*/
    font-size: 0.8rem;
}

/*Alle Labels mit Klasse "small-label"*/
.label-head {
 font-size: 1.3rem;
}
.input-field {
    font-size: 1.1rem;
}

.email {
    font-size: 30px;
}

/*Referenziert auf eine ID*/
#text {

}

/* Klasse ODER Klasse durch Beistrich*/
.email, .small-label {

}

/*Klasse und Klasse durch direkt hintereinander*/
.email.small-label{

}

/*alle p die irgendwo (muss nicht direkter parent sein) innerhalb eines div sind mit leerzeichen dazwischen*/
div p {

}

/* alle p die direkt (direkter parent) in einem div sind */
div > p {

}

/*alle p die direkte Nachbarn von divs sind, sprich direkt daneben sind wie inputs neben labels sind*/
label + input {
    border: 2px solid red;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}


/*alle p die irgendwo (muss nicht direkt daneben sein, lediglich auf selber ebene, nach einem p sind*/
div ~ p {

}

/*Mit select kann man Attribute suchen*/
select[name="location"] {

}

.form-login {
    display: grid; /* to use css-grid */
    width: 100vw;
    gap: 5px 5px; /* creates a gap between the columns and rows */
    font-family: Arial, Helvetica, sans-serif;
    
  }

